.header-logo {
  width: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0; /* Adjust as needed */
}

#root {
  background-color: #0097b2;
}

#nav-bar{
  background-color: #0097b2;
}

#footer{
  background-color: #0097b2;
  position:absolute;
  top: 90%;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #0097b2;
}
