.circle-Available,
.circle-Scheduled,
.circle-Unavailable {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.circle-Scheduled {
  background-color: green;
}

.circle-Unavailable {
  cursor: not-allowed;
  background-color: grey;
}

.circle-Available {
  background-color: transparent;
  border: 2px solid green;
}
.circle-Available:hover::after {
  content: attr(data-status);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 3px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

html, body {
  background-color: #0097b2;
  height: 100%;
  width: 100%;
}